@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error Id: @Model.RequestId</h1>
<h2 class="text-danger">@Model.ErrorDescription</h2>

@*<div class="text-right">*@
    @*// <input asp-action="Index" type="submit" value="Volver a Inicio" class="btn btn-primary"/>*@
    @*<button asp-action="Index">Volver</button>*@
    @*<button type="button" onclick='location.href=@Url.Action("rIndex")'" class="btn btn-info mb-2">Volver</button>*@
   

@*</div>*@
